doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title=title
		block css
			link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
			link(rel="stylesheet" href="/components/animate.css/animate.min.css")
			link(rel='stylesheet', href='/css/style.css')
		block js
			if ENV_DEVELOPMENT
				script(src='http://localhost:35729/livereload.js')

	body
		.full-page
			.overlay
				.container
					.col-md-12(style="height: 100vh")
						.col-md-12.center.vertical-align
							h1.animated.fadeInDown.animate-delay-1s Laboratorium Perangkat Keras
							h3.animated.fadeInDown.animate-delay-1s Introduction to WLAN
							.col-md-12(style="padding-top: 32px")
								.col-md-4.col-md-offset-2
									a.animated.fadeInUp.animate-delay-2s.btn.btn-primary.col-md-10.col-md-offset-1(href="/workshop/sesi1/praktikan") 
										.btn-text Sesi Pertama
								.col-md-4.margin-top-lg
									a.animated.fadeInUp.animate-delay-3s.btn.btn-danger.col-md-10.col-md-offset-1(href="/workshop/sesi2/praktikan") 
										.btn-text Sesi Kedua


		script(src="/components/jquery/dist/jquery.min.js")
		script(src="/components/bootstrap/dist/js/bootstrap.min.js")