extends ../layout/layout

block content
	.reveal
		.slides
			section
				h1 Workshop
				h2 Introduction to WLAN
				h3 Laboratorium Perangkat Keras

			section
				h1 Apa itu Jaringan?

			section
				h1 Jaringan
				h5.fragment Hubungan antara komputer-komputer atau perangkat jaringan lainnya yg memiliki tujuan yg sama yaitu berbagi sumber daya, berkomunikasi, dan dapat mengakses informasi.

			section
				h3 Jaringan Berdasarkan Jarak Geografis
				br
				h5.fragment Jaringan LAN (Local Area Network)
				h5.fragment Jaringan MAN (Metropolitan Area Network)
				h5.fragment Jaringan WAN (Wide Area Network)
			
			section
				h3 Jaringan Berdasarkan Hubungan Tiap Komputer
				br
				h5.fragment Jaringan Client-Server
				h5.fragment Jaringan Peer-to-Peer
			
			section
				h3 Jaringan Berdasarkan Media Transmisi Data
				br
				h5.fragment Wired Network
				h5.fragment Wireless Network
			
			section
				h5 Peralatan Networking
				section
					h5 NIC
					img(src="img/wlan/NIC.png")
				section
					h5 Kabel
				section
					h5 Access Point
				section 
					h5 Router (Wired/Wireless)
				section
					h5 Switch
				section
					h5 Hub
				section
					h5 Bridge
				section
					h5 Repeater